{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e5e5503423.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


    <div class="wrapper">

                                        <header>
                                            <h1>Algorithms and stuff..</h1>

                                            <h3>My solutions to various problems</h3>

                                            <div class="menu">
                                                <a href="{% url 'algoblog:post_list' %}">HOME</a>
                                                <a href="{% url 'algoblog:about' %}">ABOUT</a>
                                                <a href="{% url 'algoblog:contact' %}">CONTACT</a>
                                            </div>
                                            
                                            
                                        </header>
                                    
                                    {% block content %}
                                    
                                    {% endblock %}

<!-- 
    wrapper end                             -->
    </div>
                                    
                                
                                <footer class="site-footer">
                                    <div class="container1">
                                                
                                                    <div class="about">
                                                            <h6>Hello there!</h6>
                                                            <!-- <p> <i> My name is Ivan Urban </i>      </p> -->
                                                            <p>I am a full stack developer. 
                                                                I like  web development, coding puzzles, algorithms and photography. </p>
                                                        
                                                    </div>


                                                    <div class="footer-contact">

                                                        <div class="inner-contact">
                                                                    <h6>Contact</h6>
                                                                            
                                                                    <!-- <p><img src="{% static 'img/mail.png'%}" width="20" height="20" alt="">ivanurban_bg@yahoo.com  </p> -->
                                                                    <p id="email"><span><i class="far fa-envelope"></i>&nbsp;</span>ivanurban_bg@yahoo.com </p>


                                                                    
                                                                    <p><span><i class='fas fa-phone'></i>&nbsp;</span>011/123-4567</p>


                                                        </div>
                                            


                                                    </div>

                                    
                                                
                                                
                                            
                                    </div>

                                    <hr>

                                    <div class="container2">
                                        
                                            
                                                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                                                        <a href="#">Gradski</a>.
                                                    </p>
                                                          

                                                        <div class="soc_icons">

                                                            <a href="#"  ><img src="{% static 'img/linkedin.svg' %}"  width="40" height="40"></a> 
                                                            <a href="#"  ><img src="{% static 'img/hackerrank.svg' %}"  width="40" height="40"></a>
                                                      


                                                        </div>
                                                 

                                                       

                                                        


                                          
                                                            
                                                
                                    </div>

                                </footer> 



      



<script>

document.getElementsByTagName("pre")[0].classList.add("prettyprint");
</script>

</body>
</html>