/*https://www.canva.com/colors/color-palettes/melon-and-mint/*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


* {
margin: 0;
padding:0;
box-sizing: border-box;
}


html, body{

      /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {

    /* background-color:#EBEEF1; */
    display: flex;
  flex-direction: column;

    font-family: 'Nunito Sans', sans-serif;
}


.wrapper{


    flex: 1 0 auto;
}


header{

    text-align: center;
    padding:50px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #3B9778;
    color:#477158;
    color: #A16AE8;
    color:#B5B3CA;
    background-color:#F4B18C;
    background-color: #010100;
    background-color: #26272B;

}

.menu{

padding-top: 25px;
width:50%;
margin: auto;
display: flex;
justify-content: space-between;
}


.menu a{

    color: #3B9778;
    font-size: 1.2em;
    font-weight:400 ;
    text-decoration: none;
    color:#477158;
    color: #A16AE8;
    color:#B5B3CA;

}
.menu a:hover{
    color: #53298a; 
    text-decoration:none; 
    cursor:pointer;  
}



/*details page*/
.container{

    position:relative;
    display: flex;
    justify-content:space-between;

    font-family: 'Nunito Sans', sans-serif;
  
   
    
}

.container .links{

    width: 15%;
    margin: auto;
    /* background-color:#93E9BE; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding:50px 0 0 50px;
    color:#93E9BE;
    font-size: 1em;
    position: absolute;
    border-left: 2px solid #477158;
  
    

   
    

}



.container .links a {
    color:#477158;
    /* text-decoration: none; */
   
    
}

.container .links a:hover {
    color:#04180c;
    /* text-decoration:none;  */
    cursor:pointer;  
}

.container .posts{
    
    width: 85%;
    /* margin:auto; */
    height :100%;
    text-align: left;
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;

    /* position: absolute; */
    /* left: 15%; */
    font-size: 1.1em;

    border-left: 2px solid #477158;
   
    margin-left:15%;
 
  
  

}
.container .posts .title{

    margin-bottom: 25px;



}    

.container .posts .date{

    margin-bottom: 25px;

}    
.container .hello{
    
    width: 85%;
    margin:auto;

    text-align: center;
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;

    position: absolute;
    left: 15%;
    font-size: 2em;

  

}



/*contact page*/

.contact-container{
        
        display:flex;
        justify-content: center;

}



/*about page*/



/*FOOTER*/
.site-footer
        {

            flex-shrink: 0;
        background-color:#26272b;
        /* padding:45px 0 20px; */
        padding:100px;
        font-size:15px;
        line-height:24px;
        color:#737373;
      
   
        
        
        
       
        }

.site-footer .container1{

        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
      
      
}

.site-footer .container1 .about p{

        width: 50%;
      
        
}


.site-footer .container2{

        width: 70%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content:space-between;
        
}


.site-footer hr
{

        margin: auto;
        margin-top: 50px;
        border-top-color:#bbb;
        opacity:0.5;
        width: 70%;
        

  
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
    display: flex;
    justify-content:space-between;
    min-width: 250px;
    max-width: 250px;

  /* text-align:right */
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}


/*SMALLER SCREENS START*/

@media (max-width: 1400px){
    .container .links{

        padding:30px 0 0 30px;
        
        font-size: 1em;
    
        
    
    }
            
    
    }


}




