{% extends "algoblog/base.html" %}

{% load static %}

{% block content %}


<div class="container-about">



    <div class="container">

   

                    <div class="posts">

                        

                                    <h1 class="title">Hi</h1>
                    
                    
                    
                                    My Name is Ivan Urban, I am a full stack developer. 
                                    I have a vast experience with a lot of different technologies.
                                     I am proficient in python/django, javascript, css, html, databases.
                                      I like coding challenges, algorithms and photography. 
                                    I am experienced IT guy that worked in different positions through his career
                                    
                                

                </div>

             
    </div>
  





</div>
 

{% endblock %}