{% extends "algoblog/base.html" %}

{% load static %}

{% block content %}



    <div class="contact-container">


            <div class="contact-text">

                <p>Contact me</p>
                <p>Feel free to get in touch with me. I am always open to discussing...</p>

                <p>mail icon</p>
                <p>ivanurban_bg@yahoo.com</p>

                <p>phone icon</p>
                <p>+381621693170</p>
            </div>

            <div class="contact-mail">



            </div>

    </div>
    

{% endblock %}