{% extends "algoblog/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}



    <div class="contact-container">

<!-- 
            <div class="contact-text">

                <h2>Contact me</h2>
                <p>Feel free to get in touch with me. I am always open to discussing...</p>

                <p>mail icon</p>
                <p>ivanurban_bg@yahoo.com</p>

                <p>phone icon</p>
                <p>+381621693170</p>
            </div>

            <div class="contact-email">
                <h4>Send me an Email</h4>
                
                <div class="email-form">
                    <form method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table  }}
                        </table>
                            <button id="sendMailButton" type="submit">Submit</button>
                        </form>
                </div>
                
           </div> -->


                                    
                                        



<div class="container">





    <div class="posts">

        
    
                                            

                        <h1 class="title">Send me an email</h1>
            
                
                    <div class="contact-email">
                        <!-- <h4>Send me an Email</h4> -->
                        
                        <div class="email-form">
                            <form method="post">
                            
                                {% csrf_token %}

                                <!-- {{ form.as_p }}
                                 -->
                                <div class="form-group">
                                   
                                    
                                    {% render_field form.name class="form-control-text"  placeholder="Name" type="text" %}
                                  </div>
                                    
                           
                
                                  <div class="form-group">
                                  
                                    {% render_field form.email class="form-control-text"  placeholder="Email" %}
                                  </div>
                                    

                                
                                  <div class="form-group">
                                  
                                    {% render_field form.subject class="form-control-text"  placeholder="Subject" %}
                                  </div>

                                  <div class="form-group">
                                 
                                    {% render_field form.message  class="form-control-textarea" placeholder="Message" %}
                                  </div>
                                    
                                  <div class="form-group">
                                    <button type="submit" id="sendMailButton"  value="Submit" > Submit </button>
                                  </div>
                         
                                   
                               
                                     <!-- <button id="sendMailButton" type="submit">Submit</button> -->
                                </form>
                        </div>
                        
                </div>
        
                    
                

</div>


</div>


</div>


{% endblock %}